.socialIcons{
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 40%;
    left: 25%;
    display: none;
}

.card .image-background:hover{
    filter: blur(3px);
    color: #fff;
 
}

.socialIcons{
    display:flex;
}